.App {
  text-align: center;
}

h2.title {
  display: inline;
}

.fav-figure {
  display: inline-block;
  width: 100px;
}

.fav-heart {
  display: inline;
  width: 100px;
  height: 100px;
}

.fav-times-text {
  display: inline;
  position: relative;
  bottom: 85px;
  left: 28px;
  color: yellow;
  font-weight: 700;
  font-size: 50px;
}
